{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": [1, {
      "arrays": "always-multiline",
      "functions": "ignore",
      "objects": "always-multiline",
      "imports": "always-multiline"
    }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}